* {
  box-sizing: border-box;
}

body {
  font-family: "Arial";
  color: #FFFFFF;
  letter-spacing: 0.5px;
  margin: 0 auto;
  max-width: 1024px;
  text-align: center;
  background: #8B0000;

}

h1 {
  padding-top: 20px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 40px;

}

li {
  list-style-type: none;
  align: left;
  font-size: 24px;
}

input {
  height: 40px;
  width: 280px;
}
button {
  height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  background: #2F4F4F;
  color: #000000;
  font-size: 24px;
}
a {
    color: #000000;
}
